<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Edit your booking:</h1>
      <h3>Current details:</h3>
      Start date: <%= @booking.start_date  %>
      <br>
      End date: <%= @booking.end_date  %>
      <br>
      Cabin: <%= @booking.cabin.name  %>
    </div>
  </div>
</div>



<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>New dates:</h2>
      <%= simple_form_for [ @booking ] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit "Edit booking", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
