<div class="card" style="background-image: url('https://images.unsplash.com/photo-1449158743715-0a90ebb6d2d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');">
  <h4><%= link_to @cabins[0].name, cabin_path(@cabins[0]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[0].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[0].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[0].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1612865305345-7cc1deb313d5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=802&q=80');">
  <h4><%= link_to @cabins[1].name, cabin_path(@cabins[1]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[1].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[1].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[1].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1595521624742-47e90260edab?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDV8fGNhYmlufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[2].name, cabin_path(@cabins[2]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[2].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[2].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[2].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1537197518227-a36efeafd477?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDl8fGNhYmlufGVufDB8fDB8&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[3].name, cabin_path(@cabins[3]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[3].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[3].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[3].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1604609165678-096d20fab1ad?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTh8fGNhYmlufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[4].name, cabin_path(@cabins[4]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[4].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[4].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[4].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1611353412926-a88e5f08db67?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODF8fGNhYmlufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[5].name, cabin_path(@cabins[5]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[5].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[5].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[5].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1568729937315-2ef5ee9cf4f2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzR8fGNhYmlufGVufDB8fDB8&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[6].name, cabin_path(@cabins[6]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[6].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[6].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[6].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1598393460125-a0c597b6a8cb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTF8fGNhYmlufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[7].name, cabin_path(@cabins[7]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[7].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[7].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[7].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1553616772-330638295cd4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTAxfHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[8].name, cabin_path(@cabins[8]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[8].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[8].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[8].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1601919051950-bb9f3ffb3fee?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTZ8fGNhYmlufGVufDB8fDB8&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[9].name, cabin_path(@cabins[9]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[9].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[9].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[9].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1597866282096-4fe917af5b9e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTUyfHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[10].name, cabin_path(@cabins[10]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[10].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[10].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[10].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1603711663821-17d5023c486f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTU0fHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[11].name, cabin_path(@cabins[11]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[11].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[11].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[11].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1605217579491-3793274e7b78?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTgyfHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[12].name, cabin_path(@cabins[12]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[12].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[12].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[12].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1551354907-80361e454f5a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTkxfHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[13].name, cabin_path(@cabins[13]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[13].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[13].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[13].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1585081144754-287a122416d0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjA0fHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[14].name, cabin_path(@cabins[14]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[14].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[14].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[14].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1475087542963-13ab5e611954?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjA1fHxjYWJpbnxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[15].name, cabin_path(@cabins[15]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[15].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[15].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[15].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1608669148396-42b31acf6120?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjMzfHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[16].name, cabin_path(@cabins[16]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[16].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[16].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[16].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1607038481347-4db4634f76eb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjA5fHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[17].name, cabin_path(@cabins[17]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[17].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[17].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[17].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1545923031-809d8c429a19?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjQ4fHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[18].name, cabin_path(@cabins[18]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[18].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[18].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[18].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1599225073747-21b040ff7af3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjM3fHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[19].name, cabin_path(@cabins[19]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[19].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[19].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[19].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1570988487277-e4b48338b6a3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjU1fHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[20].name, cabin_path(@cabins[20]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[20].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[20].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[20].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1605814058145-3d6ab7eddde1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjY2fHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[21].name, cabin_path(@cabins[21]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[21].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[21].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[21].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1595185584335-a6c1cd098b2f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjgzfHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[22].name, cabin_path(@cabins[22]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[22].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[22].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[22].location %></h5>
</div>

<div class="card" style="background-image: url('https://images.unsplash.com/photo-1574163816758-7e4889088488?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjg5fHxjYWJpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');">
  <h4><%= link_to @cabins[23].name, cabin_path(@cabins[23]) %></h4>
  <br>
  <br>
  <div class="text-left">
    <i class="fas fa-users" style="color:white"><%= @cabins[23].number_of_guests %></i>
    <i class="fas fa-pound-sign" style="color:white"><%= @cabins[23].price_per_night %></i>
  </div>
  <h5 style="color:white"><%= @cabins[23].location %></h5>
</div>
