<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for [ @cabin ] do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price_per_night %>
      <%= f.input :number_of_guests %>
      <%= f.input :location %>
      <%= f.input :photo, as: :file %>

      <%= f.submit "Create Cabin", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

