<div class="container">

<!--   Div for the name and description -->
 <div class="cabin-headers">
    <h1> <%=  @cabin.name  %> </h1>
    <h2> <%=  @cabin.description  %> </h2>
  </div>

<!-- Div for cabin image -->
  <div class="cabin-image">
    <img src="https://images.pexels.com/photos/890035/pexels-photo-890035.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
  </div>

<!-- Div for the rest of the cabin info -->
  <div class="cabin-info-body">
    <h3> Price per night: £<%=  @cabin.price_per_night  %> </h3>
    <h3> Maximum number of guests:<%= @cabin.number_of_guests  %> </h3>
  </div>

  <!-- Form for new booking -->
  <%= simple_form_for [@cabin, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Make booking", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back to Cabins", cabins_path %>
</div>


