<div class="container">
  <%= link_to cabins_path, class: 'back-link' do %>
    <i class="fas fa-angle-double-left"></i> Cabins
  <% end %>
  <div class="row justify-content-center">
    <div class="cabin-headers text-center">
      <h1> <%=  @cabin.name  %> </h1>
      <p> <%=  @cabin.description  %> </p>

      <img class="cabin-image" src="https://images.pexels.com/photos/890035/pexels-photo-890035.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
      <span class="cabin-show-text">
      <h5> Price per night: £<%=  @cabin.price_per_night  %> </h5>
      <h5> Maximum number of guests:<%= @cabin.number_of_guests  %> </h5>
      </span>
    </div>
  </div>

  <!-- Form for new booking -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <%= simple_form_for [@cabin, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :status, collection: Booking::STATUSOPTIONS, default:"pending"%>
        <%= f.submit "Make booking", class: "btn btn-primary" %>

        <% end %>
      </div>
    </div>
  </div>



