<div class="card">
  <div class="card-cities">
    <img src= "https://source.unsplash.com/1080x1080/?forest" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> <%= Faker::Address.country %> </h4>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-cities">
    <img src= "https://source.unsplash.com/1080x1080/?woods" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> <%= Faker::Address.country %> </h4>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-cities">
    <img src= "https://source.unsplash.com/1080x1080/?lake" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> <%= Faker::Address.country %> </h4>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-cities">
    <img src= "https://source.unsplash.com/1080x1080/?river" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> <%= Faker::Address.country %> </h4>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-cities">
    <img src= "https://source.unsplash.com/1080x1080/?woodland" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> <%= Faker::Address.country %> </h4>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-cities">
    <img src= "https://source.unsplash.com/1080x1080/?lakes" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> <%= Faker::Address.country %> </h4>
    </div>
  </div>
</div>

