<!-- Banner -->
<div class="banner">
  <div class="navbar-home">
    <div class="navbar-logo">
      <% if !user_signed_in? %>
        <%= link_to "Login", new_user_session_path, class: "btn" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
      <% end %>
    </div>
    <div class="dropdown", style="position: right" >
      <%= link_to 'Host Your Cabin', new_cabin_path, class: "btn"  %>
        <% if user_signed_in? %>
      <%= link_to "#{current_user.first_name}Profile", profile_path, class: "btn" %>
    <% end %>
    </div>
  </div>
  <div class="content">
    <h1>Cabin-Bnb</h1>
    <%= link_to "Book A Cabin", cabins_path, class: "btn" %>
  </div>
</div>

<!-- Cabins -->
<h2>Top Rated Cabins</h2>
<div class="cabins-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cards">
          <%= render 'cabin-cards' %>
        </div>
      </div>
    </div>
  </div>
</div>
