<!-- link/form to update user

loop through my bookings (current/past)??

if owner = true
  loop through cabins.each
  dipslay all cabins where cabin.user = current_user
  show details of cabin, link to update/destroy
  current user info -->
  <div id="profile-page">
    <div class="container">
      <%= link_to cabins_path, class: 'back-link' do %>
      <i class="fas fa-angle-double-left"></i> All Cabins
      <% end %>
      <div class="row justify-content-center">
        <div class="profile-buttons">
          <% if current_user.bookings.empty? %>
          <%= link_to 'Make a booking', cabins_path, class: "btn" %>
          <p id="add-booking-text">Looks like you got no bookings... Lets change that!</p>
          <% end %>
        </div>
      </div>
      <div class="profile-details">
        <% if !current_user.cabins.empty? %>
        <h4 class="header">Your Cabins:</h4>
        <% end %>
        <div class="cards">
          <% current_user.cabins.each do |cabin| %>
          <div class="card-profile">
            <img src="https://images.pexels.com/photos/4947737/pexels-photo-4947737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            <h2><%= cabin.name %> </h2>
            <p><%= cabin.description %> </p>
            <span>
              <%= link_to 'Edit', edit_cabin_path(cabin), class: "btn" %>
              <%= link_to 'Delete', cabin_path(cabin), method: :delete, class: "btn" %>
            </span>
          </div>
          <% end %>
        </div>
      </div>
      <div class="profile-details">
        <% if !current_user.bookings.empty? %>
        <h4 class="header">Your bookings:</h4>
        <% end %>
        <div class="cards">
          <% current_user.bookings.each do |booking| %>
          <div class="card-profile">
            <h5><%= booking.cabin.name %> </h5>
            <p>From:<%= booking.start_date %></p>-<p>To:<%= booking.end_date %></p>
            <span>
              <%= link_to 'Edit', edit_booking_path(booking), class: "btn" %>
              <%= link_to 'Delete', booking_path(booking), method: :delete, class: "btn" %>
            </span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
